.Selfie {
    margin: 5%;
    height: 300px;
    width: auto; 
}

.AboutImageNatureWalks {
    margin: 5%;
    height: 300px;
    width: auto;
}

.AboutImageVolunteering {
    margin: 5%;
    height: 300px; 
    width: auto;
    overflow: hidden;
}

.AboutImageVideoGames {
    margin: 5%;
    height: 200px;
    width: auto;
}

.Latsch {
    margin: 5%;
    height: 300px;
    width:auto;
}

.SkunkMap {
    margin: 5%;
    height: 400px;
    width: auto;
}
