.Selfie {
    margin: 5%;
    height: 300px;
    width: auto; 
}

.AboutImageNatureWalks {
    margin: 5%;
    height: 250px;
    width: auto;
}

.AboutImageVolunteering {
    margin: 5%;
    height: 200px; 

}

.AboutImageVideoGames {
    margin: 5%;
    height: 160px;
    width: auto;
}

.Latsch {
    margin: 5%;
    height: 250px;
    width:auto;
}

.SkunkMap {
    margin: 5%;
    height: 250px;
    width: auto;
}

body{
    background: #202020;
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FBFCFC;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.AboutPageDivs{
    background: #8CE;
    border: solid #FBFCFC 2px;
    margin: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #202424;

}

.AboutPageDivs:nth-child(even){
    background: #6fbcf0; 
}

.PortfolioDivs{
    background: #8CE;
    border: solid #FBFCFC 2px;
    margin: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #202424;
}

.PortfolioDivs:nth-child(even){
    background: #6fbcf0; 
}

nav{
    color: #FBFCFC;
}

nav:hover{
    color: #6fbcf0;
}

.IndexSection{
    background: #6fbcf0;
    border: solid #FBFCFC 2px;
    margin: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #202424;
}